[user]
  name = Dan Bernier
  email = danbernier@gmail.com
[alias]
  st = status
  ci = commit
  co = checkout
  dc = diff --cached
[color]
  ui = auto
[core]
  editor = vim
  excludesfile = ~/.gitignore_global
[push]
  default = current
[rebase]
  autosquash = true
